.login_container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.logo {
    justify-content: center;
    padding-bottom: 20px;
}

.errors {
    width: 466px;
    height: 39px;
}

.login_form_container {
    background-color: white;
    width: 350px;
    height: 308px;
    justify-content: center;
    
}

.login_form {
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(50,50,50,0.08);
    width: 348px;
    height: 230px;
}