.container {
    padding: 5px;
    margin: 10px;
    background-color: #26A69A;
}

.quote {
    color: white;
    font-style: italic;
    font-size: 12px;
}

.taskName {
    color: white;
    font-style: bold;
    font-size: 20px;
}

.addTaskButton {
    vertical-align: bottom;
}